.navbar {
  
    padding: 10px;
    border-radius: 12px;
    width: 200px;
}

.navlist {
    list-style: none;
    padding: 0;
}

.listItem {
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    color: #ECF0F1;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
    position: relative;
}

.link:hover {
    background-color: #58cc02;
    color: white;
    transform: translateX(5px);
}

.icon {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.text {
  
    transition: color 0.3s ease;
}

.inactive {
    color: #B0BEC5;
}

.active {
    font-weight: bold;
    background-color: #58cc02;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.active:hover {
    background-color: #58cc02;
}
